@font-face {
  font-family: "Muggle";
  src: url("../../Fonts/mugglenews_by_nathanthenerd_d41qn8p.ttf");
}
@font-face {
  font-family: "QuietZoo";
  src: url("../../Fonts/QuietZoo.ttf");
}

.Login-Section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  h1 {
    font-family: "Muggle";
    font-size: 5rem;
  }
  h6 {
    font-family: "QuietZoo";
    font-size: 2rem;
  }
  .Login-logo {
    max-width: 10rem;
    max-height: 10rem;
  }
  .login-form {
    display: flex;
    flex-direction: column;
    min-width: 45%;
    align-items: center;
    border: 1px solid black;
    padding: 3rem;
  }

  input {
    margin: 1rem 0 1rem 0;
    font-family: "QuietZoo";
    width: 22rem;
    font-size: 2.5rem;
    height: 4rem;
    background-color: transparent;
    border: 2px solid black;
  }
  input:focus {
    outline: none;
  }
  input::placeholder {
    color: black;
  }

  button {
    margin: 2rem 0 0 0;
    width: 8rem;
    height: 3rem;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    font-family: "QuietZoo";
    font-size: 2.5rem;
  }
  button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
