* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //   background-image: url("./assets/WebPageBG.png");
  //   background-size: cover;
  //   background-repeat: no-repeat;
}

body {
  /* Set the background image and define its properties */
  z-index: -100000;
  background-image: url("./assets/WebPageBG.png");
  background-size: cover;
  background-repeat: no-repeat;
}

// @font-face {
//     font-family: ;
//     src: url("");
// }
